// ##### default scss
*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: fantasy;
}

html {
  background-color: aliceblue;
  scroll-behavior: smooth;
}

::selection{
  background-color: #0e0e0e;
  color: white;
}
h1{
  font-size: 4rem;
}
p{
  font-size: 1.5rem;
}

a{
  text-decoration: none;
  color: #0e0e0e;
  &:hover
  {
    color: black;
    font-weight: 900;
  }
}
section{
  min-height: 100vh;
  padding-inline: 2rem;
  background-color: aliceblue;
}
img{
  width: 100%;
}

.minH0{
  min-height: 0;
}
// mixins

@mixin input{
    border: black 2px solid;
}

// ##### main code
// navbar scss
nav{
  h1
  {
    font-size: 3rem;
  }
  padding-inline: 2rem;
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;

  ul
  {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    .logo_div
    {
      align-self: flex-start;
    }
    li
    {
      list-style: none;
    }
  }
}

// hero scss

#hero
{
  min-height: 0vh;
  padding-inline:0 ;
  width: 100%;
  overflow: hidden;
  .carousel
  {
    padding-inline: 0;
  }
  img
  {
    height: 80vh;
  }
  .carousel-control-next-icon{
    background-color: transparent;
  }
  .carousel-control-prev-icon{
    background-color: transparent;
  }
}

// about scss
#about
{
  min-height: 0;
  padding-block:3rem ;
  padding-inline: 3rem;
  .about
  {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
}




// login scss
#login
{
  ::selection
  {
    color: #0e0e0e;
  }
  input , input:active , input:hover {
    @include input ;
  }


  color: white;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  .login
  {
    background-color: #0e0e0e;
    padding-block: 6rem;
    width: 40%;
    padding-inline: 3rem;

    h1{
      font-size: 4rem;
    }

    form{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      label{
        font-size: 2rem;
      }
      input
      {
        background-color: transparent;
        width: 100%;
        color: aliceblue;
      }
    }
    
  }

}

// mess reg scss
#messReg
{
  background-color: aliceblue;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  div
  {



    input
    {
      border: #0e0e0e solid 1px;
      padding-inline: .5rem;
      padding-block: .3rem;
      background-color: white;
      transition: .15s;
      &:hover{
        background-color: #0e0e0e;
        color: aliceblue;
      }
    }

    .details{
      font-size: 3rem;
    }
    .messRegHeadOpen
    {
      // todo
      text-decoration: underline;
    }
  }

}




// footer scss
footer
{

.footer {
    background-color: #0e0e0e;
    *{
      color: aliceblue;

    }


    display: flex;
    flex-direction: row;

    padding-block: 5rem;
    padding-inline: 2rem;
    background-color: #0e0e0e;
  }

  .footer img {
    max-width: 400px;
    margin-inline: 2rem;
  }

  .footer .address {
    padding-inline: 5rem;
  }


  .footer>* {
    flex: 1 100%;
  }



  .nav__title {
    font-weight: 400;
    font-size: 2rem;
  }


  .footer ul {
    list-style: none;
    padding-left: 0;
    font-size: 1.2rem;
  }

  .footer li {
    line-height: 2em;
  }

  .footer a {
    text-decoration: none;
    transition: 0.15s;
  }

  .footer a:hover {
    padding-left: 2%;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
  }

  .footer__nav {
    display: flex;
    flex-flow: row;
  }

  .footer__nav>* {
    flex: 1 50%;
    margin-right: 1.25em;
  }

  .nav__ul a {}

  .nav__ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }

  @media screen and (min-width: 40.375em) {
    .footer__nav>* {
      flex: 1;
    }

    .nav__item--extra {
      flex-grow: 2;
    }

    .footer__addr {
      flex: 1 0px;
    }

    .footer__nav {
      flex: 2 0px;
    }
  }


  @media (max-width : 800px) {
    .footer {
      flex-wrap: wrap;
    }

    .footer>.nav__title {
      font-size: 1.5rem;
    }

    .footer>ul {
      font-size: 1rem;
    }
  }

}



// startScan scss
#startScan{
  height: 80vh;
  display: flex;
  align-items: center;
  padding: 0;
  .startScan{
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    a{
      width: 100%;
      height: 100%;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .15s;
    }
  }
}
.breakfast, .lunch, .dinner{
  transition: 0.15s;
}
.breakfast:hover{
  color: rgb(255, 212, 196);
  text-shadow: 0px 0px 10px #0e0e0e ;
}
.lunch:hover{
  color: rgb(255, 255, 167);
  text-shadow: 0px 0px 10px #0e0e0e ;
}
.dinner:hover{
  color: rgb(160, 255, 160);
  text-shadow: 0px 0px 10px #0e0e0e ;
}


// breakfast scanner scss
#breakfast{
  height: 80vh;
  display: flex;
  align-items: center;
}
// lunch scanner scss
#lunch{
  height: 80vh;
  display: flex;
  align-items: center;
}
// dinner scanner scss
#dinner{
  height: 80vh;
  display: flex;
  align-items: center;
}
.scanner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

// concerns page
#talk
{

  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  form{
    display: flex;
    flex-direction: column;
  }
  .talk{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


#menu{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;

  #food{
    text-align: center;
    min-height: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    .hero{
      border: #0e0e0e 2px solid;
      padding-inline: 2rem;
      padding-block: 3rem;
      background-color: #f5f5f5;
      min-width: 800px;
  
    }
    
    .dayBar{
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 1rem;
  
      >*{
        list-style: none;
        border: 1px solid #0e0e0e;
        padding-inline: .5rem ;
        padding-block: .2rem;
        transition: .15s;
        &:hover{
          background-color: #0e0e0e;
          a{
            color: white;
          }
        }
      }
    }
  
  }

}


